&__branding {
    display: block;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 25px;
    order: 2;

    @media screen and (min-width: breakpoint(medium)) {
        flex-basis: auto;
        order: 1;
    }
}