&__branding {
    display: block;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    margin: $space-stack;
    order: 2;

    &:first-child {
        margin: $space-stack;
    }

    @media screen and (min-width: breakpoint(medium)) {
        flex-basis: auto;
        margin: 0;
        order: 1;
    }
}
