&__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: wrap;

    @media screen and (min-width: breakpoint(medium)) {
        flex-direction: row;
    }
}
