&__copyright {
    color: $component-page-footer-copyright-text-color;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
    order: 3;
    text-align: center;
    width: 100%;

    @media screen and (min-width: breakpoint(medium)) {
        flex-basis: 100%;
        text-align: left;
    }
}