$component-page-footer-background-color: $color-willow-grey !default;
$component-page-footer-copyright-text-color: $color-willow-white !default;
$component-page-footer-border-color: $color-willow-grey !default;
