&__navigation {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    margin: $willow-space-stack-xl;    
    max-width: 100%;
    order: 0;

    @media screen and (min-width: breakpoint(medium)) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        order: 2;
    }
}