&__navigation {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 100%;
    order: 0;

    @media screen and (min-width: breakpoint(medium)) {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        order: 2;
    }
}
