&-page-footer {
    @include full-bleed;
    
    align-items: center;
    background-color: $component-page-footer-background-color;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding-bottom: space(1);
    padding-top: space(1);

    @media screen and (min-width: breakpoint(medium)) {
        flex-direction: row;
        padding-bottom: space(3);
        padding-top: space(2);
    }

    @import "branding";
    @import "copyright";
    @import "navigation";
}