@import "default-variables";

&-page-footer {
    @include full-bleed;
    @extend .butter;
    
    align-items: center;
    background-color: $component-page-footer-background-color;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding-bottom: $space-l;
    padding-top: $space-l;

    @media screen and (min-width: breakpoint(medium)) {
        flex-direction: row;
    }

    @import "branding";
    @import "copyright";
    @import "navigation";
}