@import "dependencies";

.willow-page-footer {
    @extend .butter;

    background-color: $component-page-footer-background-color;
    margin-top: $space;
    padding-bottom: $space-l;
    padding-top: $space-l;

    @import "container";
    @import "branding";
    @import "copyright";
    @import "navigation";
}
