@mixin set-text-style($style) {
    font-family: map-get($style, family);
    font-size: map-get($style, mobile-size);
    font-weight: map-get($style, weight);
    line-height: space(map-get($style, mobile-line-height));
    text-transform: map-get($style, transform);

    @media screen and (min-width: breakpoint(medium)) {
        font-size: map-get($style, desktop-size);
        line-height: space(map-get($style, desktop-line-height));
    }
}
