@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

$willow-font-family-primary: "Oswald", "helvetica", "arial", "sans-serif" !default;
$willow-font-family-secondary: "Open Sans", "helvetica", "arial", "sans-serif" !default;
$willow-font-family-monospace: "Source Code Pro", monospace !default;

$willow-font-ratio: 1.2;

$willow-min-font-size: 1rem !default;
$willow-max-font-size: 5rem !default;
$willow-min-line-height: 1.2 !default;
$willow-max-line-height: 1.6 !default;

$willow-font-size-xs: 1.2rem !default;
$willow-font-size-s: $willow-font-size-xs * $willow-font-ratio !default; // 1.44
$willow-font-size: $willow-font-size-s * $willow-font-ratio !default; //1.728
$willow-font-size-l: $willow-font-size * $willow-font-ratio !default; //2.0736
$willow-font-size-xl: $willow-font-size-l * $willow-font-ratio !default; //2.48832
$willow-font-size-2xl: $willow-font-size-xl * $willow-font-ratio !default; //2.98598
$willow-font-size-3xl: $willow-font-size-2xl * $willow-font-ratio !default; //3.58318
$willow-font-size-4xl: $willow-font-size-3xl * $willow-font-ratio !default; //4.29982

$willow-line-height-font-size-xs: line-height($willow-font-size-xs) !default;
$willow-line-height-font-size-s: line-height($willow-font-size-s) !default;
$willow-line-height-font-size: line-height($willow-font-size) !default;
$willow-line-height-font-size-l: line-height($willow-font-size-l) !default;
$willow-line-height-font-size-xl: line-height($willow-font-size-xl) !default;
$willow-line-height-font-size-2xl: line-height($willow-font-size-2xl) !default;
$willow-line-height-font-size-3xl: line-height($willow-font-size-3xl) !default;
$willow-line-height-font-size-4xl: line-height($willow-font-size-4xl) !default;
