$willow-base: 1.6rem;
$willow-golden: 1.618;
$willow-golden-inverse: $willow-golden - 1;
 
////////////////////////////////////////////////////////////////
// FOR INNER AND OUTER COMPONENT SPACING
////////////////////////////////////////////////////////////////
$willow-space-xxs: space(1 / 3); //3.776
$willow-space-xs: space(1 / 2); //6.110
$willow-space-s: space(2 / 3); //9.888
$willow-space: $willow-base; //16
$willow-space-l: space(1); //25.888
$willow-space-xl: space(2); //41.886
$willow-space-xxl: space(3); //67.772

//vertical spacing (margin-bottom) between elements and components
$willow-space-stack-xxs: 0 0 $willow-space-xxs 0;
$willow-space-stack-xs: 0 0 $willow-space-xs 0;
$willow-space-stack-s: 0 0 $willow-space-s 0;
$willow-space-stack: 0 0 $willow-space 0;
$willow-space-stack-l: 0 0 $willow-space-l 0;
$willow-space-stack-xl: 0 0 $willow-space-xl 0;
$willow-space-stack-xxl: 0 0 $willow-space-xxl 0;

//horizontal spacing (margin-right) between inline elements and components
$willow-space-inline-xxs: 0 $willow-space-xxs 0 0;
$willow-space-inline-xs: 0 $willow-space-xs 0 0;
$willow-space-inline-s: 0 $willow-space-s 0 0;
$willow-space-inline: 0 $willow-space 0 0;
$willow-space-inline-l: 0 $willow-space-l 0 0;
$willow-space-inline-xl: 0 $willow-space-xl 0 0;
$willow-space-inline-xxl: 0 $willow-space-xxl 0 0;

//surrounding spacing (padding) for components
$willow-space-inset-xxs: $willow-space-xxs $willow-space-xxs $willow-space-xxs $willow-space-xxs;
$willow-space-inset-xs: $willow-space-xs $willow-space-xs $willow-space-xs $willow-space-xs;
$willow-space-inset-s: $willow-space-s $willow-space-s $willow-space-s $willow-space-s;
$willow-space-inset: $willow-space $willow-space $willow-space $willow-space;
$willow-space-inset-l: $willow-space-l $willow-space-l $willow-space-l $willow-space-l;
$willow-space-inset-xl: $willow-space-xl $willow-space-xl $willow-space-xl $willow-space-xl;
$willow-space-inset-xxl: $willow-space-xxl $willow-space-xxl $willow-space-xxl $willow-space-xxl;

//surrounding spacing (padding) that is smaller on the top and bottom
$willow-space-inset-squish-xxs: #{$willow-space-xxs / 2} $willow-space-xxs;
$willow-space-inset-squish-xs: #{$willow-space-xs / 2} $willow-space-xs;
$willow-space-inset-squish-s: #{$willow-space-s / 2} $willow-space-s;
$willow-space-inset-squish: #{$willow-space / 2} $willow-space;
$willow-space-inset-squish-l: #{$willow-space-l / 2} $willow-space-l;
$willow-space-inset-squish-xl: #{$willow-space-xl / 2} $willow-space-xl;
$willow-space-inset-squish-xxl: #{$willow-space-xxl / 2} $willow-space-xxl;
////////////////////////////////////////////////////////////////