////////////////////////////////////////////////////////////////
// GLOBAL SPACING VARIABLES
////////////////////////////////////////////////////////////////
$base-size: 12px !default;

$space-xs: $base-size / 4 !default; //3
$space-s: $base-size / 2 !default; //6
$space: $base-size !default; //12
$space-l: $base-size * 2 !default; //24
$space-xl: $base-size * 4 !default; //48
$space-xxl: $base-size * 8 !default; //96

//vertical spacing (margin-bottom) between elements and components
$space-stack-xs: 0 0 $space-xs 0 !default;
$space-stack-s: 0 0 $space-s 0 !default;
$space-stack: 0 0 $space 0 !default;
$space-stack-l: 0 0 $space-l 0 !default;
$space-stack-xl: 0 0 $space-xl 0 !default;
$space-stack-xxl: 0 0 $space-xxl 0 !default;

//horizontal spacing (margin-right) between inline elements and components
$space-inline-xs: 0 $space-xs 0 0 !default;
$space-inline-s: 0 $space-s 0 0 !default;
$space-inline: 0 $space 0 0 !default;
$space-inline-l: 0 $space-l 0 0 !default;
$space-inline-xl: 0 $space-xl 0 0 !default;
$space-inline-xxl: 0 $space-xxl 0 0 !default;

//surrounding spacing (padding) for components
$space-inset-xs: $space-xs $space-xs $space-xs $space-xs !default;
$space-inset-s: $space-s $space-s $space-s $space-s !default;
$space-inset: $space $space $space $space !default;
$space-inset-l: $space-l $space-l $space-l $space-l !default;
$space-inset-xl: $space-xl $space-xl $space-xl $space-xl !default;
$space-inset-xxl: $space-xxl $space-xxl $space-xxl $space-xxl !default;

//surrounding spacing (padding) that is smaller on the top and bottom
$space-inset-squish-xs: #{$space-xs / 2} $space-xs !default;
$space-inset-squish-s: #{$space-s / 2} $space-s !default;
$space-inset-squish: #{$space / 2} $space !default;
$space-inset-squish-l: #{$space-l / 2} $space-l !default;
$space-inset-squish-xl: #{$space-xl / 2} $space-xl !default;
$space-inset-squish-xxl: #{$space-xxl / 2} $space-xxl !default;
////////////////////////////////////////////////////////////////