@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

$font-family-primary: "Oswald", "helvetica", "arial", "sans-serif" !default;
$font-family-secondary: "Open Sans", "helvetica", "arial", "sans-serif" !default;
$font-family-monospace: "Source Code Pro", monospace !default;
// =============================================================================
//      TEXT STYLE PROPERTY SETS
//
//      Use with set-text-style mixin to set properties on a component or element
//      Example: @include set-text-style($text-style-heading-2);
//
// =============================================================================
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      HEADING STYLES
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
$text-style-heading-1: (
  family: $font-family-primary,
  desktop-size: 4.8rem,
  desktop-line-height: 5,
  desktop-margin-bottom: 1,
  mobile-size: 3.4rem,
  mobile-line-height: 4,
  mobile-margin-bottom: 1,
  weight: normal
);

$text-style-heading-2: (
  family: $font-family-primary,
  desktop-size: 2.8rem,
  desktop-line-height: 3,
  desktop-margin-bottom: 1,
  mobile-size: 2.5rem,
  mobile-line-height: 3,
  mobile-margin-bottom: 1,
  weight: normal
);

$text-style-heading-3: (
  family: $font-family-secondary,
  desktop-size: 2.4rem,
  desktop-line-height: 3,
  desktop-margin-bottom: 1,
  mobile-size: 1.9rem,
  mobile-line-height: 2,
  mobile-margin-bottom: 1,
  weight: 600
);

$text-style-heading-4: (
  family: $font-family-secondary,
  desktop-size: 1.8rem,
  desktop-line-height: 2,
  desktop-margin-bottom: 1,
  mobile-size: 1.7rem,
  mobile-line-height: 2,
  mobile-margin-bottom: 1,
  weight: 600
);

$text-style-heading-5: (
  family: $font-family-secondary,
  desktop-size: 1.6rem,
  desktop-line-height: 2,
  desktop-margin-bottom: 1,
  mobile-size: 1.6rem,
  mobile-line-height: 2,
  mobile-margin-bottom: 1,
  weight: 600
);

$text-style-heading-6: (
  family: $font-family-secondary,
  desktop-size: 1.4rem,
  desktop-line-height: 2,
  desktop-margin-bottom: 1,
  mobile-size: 1.4rem,
  mobile-line-height: 2,
  mobile-margin-bottom: 1,
  weight: 600
);

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      STANDARD CONTENT STYLES
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
$text-style-content-1: (
  family: $font-family-secondary,
  desktop-size: 1.6rem,
  desktop-line-height: 2,
  desktop-margin-bottom: 1,
  mobile-size: 1.6rem,
  mobile-line-height: 2,
  mobile-margin-bottom: 1,
  weight: 400
);

$text-style-content-2: (
  family: $font-family-secondary,
  desktop-size: 1.4rem,
  desktop-line-height: 2,
  desktop-margin-bottom: 1,
  mobile-size: 1.4rem,
  mobile-line-height: 2,
  mobile-margin-bottom: 1,
  weight: 400
);

$text-style-content-3: (
  family: $font-family-secondary,
  desktop-size: 1.1rem,
  desktop-line-height: 1,
  desktop-margin-bottom: 1,
  mobile-size: 1.1rem,
  mobile-line-height: 1,
  mobile-margin-bottom: 1,
  weight: 400
);