//Default/Info
$component-global-alert-background-color: #888 !default;
$component-global-alert-text-color: #000 !default;
//Positive
$component-global-alert-positive-background-color: #888 !default;
$component-global-alert-positive-text-color: #000 !default;
//Warning
$component-global-alert-warning-background-color: #888 !default;
$component-global-alert-warning-text-color: #000 !default;
//Negative
$component-global-alert-negative-background-color: #888 !default;
$component-global-alert-negative-text-color: #000 !default;
