@import "dependencies";

.willow-global-alert {
    @extend .butter;

    align-items: flex-start;
    background-color: $component-global-alert-background-color;
    color: $component-global-alert-text-color;
    display: none;
    flex-shrink: 0;
    flex-wrap: nowrap;
    margin-top: $space;
    padding-bottom: $space-l;
    padding-top: $space-l;

    &[data-global-alert-is-open="true"] {
        display: block;
    }

    @import "container";
    @import "icon";
    @import "content-container";
    @import "heading";
    @import "content";
    @import "close";
}

.willow-global-alert--positive {
    background-color: $component-global-alert-positive-background-color;
    color: $component-global-alert-positive-text-color;
}

.willow-global-alert--warning {
    background-color: $component-global-alert-warning-background-color;
    color: $component-global-alert-warning-text-color;
}

.willow-global-alert--negative {
    background-color: $component-global-alert-negative-background-color;
    color: $component-global-alert-negative-text-color;
}
