@mixin base() {
    padding-bottom: space(1);
    padding-left: space(2);
    padding-right: space(2);
    padding-top: space(1);

    @media screen and (min-width: breakpoint(medium)) {
        padding-left: 0;
        padding-right: 0;
    }
}

&-breadcrumbs {
    @include base;

    @import "heading";
    @import "list";
    @import "item";
    @import "link";
}