&-breadcrumbs {
    @include full-bleed;

    background-color: lightgrey;
    padding-bottom: $space;
    padding-top: $space;
    margin-bottom: $space-l;
    
    @import "heading";
    @import "list";
    @import "item";
    @import "link";
}