@import "dependencies";

.willow-breadcrumbs {
    @extend .butter;

    background-color: $component-breadcrumb-background-color;
    margin-top: $space;
    padding-bottom: $space;
    padding-top: $space;

    @import "list";
    @import "item";
    @import "link";
}
