$component-breadcrumb-background-color: $color-willow-black !default;
$component-breadcrumb-text-color: $color-willow-grey !default;
$component-breadcrumb-link-color: $color-willow-white !default;
$component-breadcrumb-link-color-hover: $color-willow-white !default;
$component-breadcrumb-link-color-focus: $color-willow-white !default;
$component-breadcrumb-link-color-active: $color-willow-white !default;
$component-breadcrumb-link-color-visited: $color-willow-white !default;