$component-breadcrumb-background-color: $color-dark !default;
$component-breadcrumb-text-color: $color-middle !default;
$component-breadcrumb-link-color: $color-light !default;
$component-breadcrumb-link-color-hover: $color-light !default;
$component-breadcrumb-link-color-focus: $color-light !default;
$component-breadcrumb-link-color-active: $color-light !default;
$component-breadcrumb-link-color-visited: $color-light !default;