&__item {
    @include set-text-style($text-style-content-2);

    color: $component-breadcrumb-text-color;
    display: inline-block;
    margin: 0;

    &::after {
        content: "/";
        margin-left: $space;
        margin-right: $space;
    }
}

&__item--active {
    &::after {
        display: none;
    }
}
