&__item {
    @include set-text-style($text-style-content-2);

    display: inline-block;
    
    &::after {
        content: "/";
        margin: $space-inline;
        margin-left: 12px;
    }
}

&__item--active {
    &::after {
        display: none;
    }
}