&__item {
    @include set-text-style($text-style-content-2);

    display: inline-block;
    
    &::after {
        content: "/";
        margin-bottom: 0;
        margin-left: calc(5px + 5px);
        margin-right: 5px;
        margin-top: 0;
    }
}

&__item--active {
    &::after {
        display: none;
    }
}