@mixin base() {
}

&__column {
    @for $i from 1 through 12 {
        &--#{$i} {
            @include base;

            @media screen and (min-width: breakpoint(large)) {
                flex-basis: auto;
                flex-grow: 0;
                flex-shrink: 0;
                padding-left: space(1);
                padding-right: space(1);
                width: $i*(100%/12);

                //Option 1
                //removes padding from columns when they are nested to prevent extra column padding
                //not the perferred option - see option 2 below
                .willow-layout__row .willow-layout__row & {
                    &:first-child {
                        margin-left: space(-1);
                    }
                    
                    &:last-child {
                        margin-right: space(-1);
                    }
                }

                //Option 2
                //preferred option
                //when used this causes components using the escape-container mixin...
                //such as page-header to have extra space on the right side of the browser
                &:first-child {
                    // margin-left: space(-1);
                }
                
                &:last-child {
                    // margin-right: space(-1);
                }
            }
        }
    }
}