@mixin base() {
    margin-bottom: space(2);
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;

    @media screen and (min-width: breakpoint(large)) {
        align-items: stretch;
        display: flex;
    }
}

&__row {
    @include base;

    &--remove-margin-bottom {
        @include base;

        margin-bottom: 0;
    }

    &--grow {
        @include base;
        
        flex-grow: 1;
    }
}