&-card-columns {
    column-count: $component-card-columns-count-s;
    column-gap: $space-inline;
    column-width: auto;

    @media screen and (min-width: breakpoint(md, $grid-breakpoints)) {
        column-count: $component-card-columns-count-m;
    }

    @media screen and (min-width: breakpoint(lg, $grid-breakpoints)) {
        column-count: $component-card-columns-count-l;
    }
}