@mixin make-grid() {
    margin: $space-stack-l;

    @media screen and (min-width: breakpoint(sm, $grid-breakpoints)) {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

@mixin cols($items: 1) {
    flex-basis: calc(#{100/$items}% - #{$space} + (#{$space}/#{$items}));

    &:nth-child(#{$items}n) {
        margin-right: 0;
    }

    &:nth-child(-n+#{$items}) {
        margin-top: 0;
    }
}

@mixin make-grid-item() {
    margin-top: $space;
    
    &:first-child {
        margin-top: 0;
    }
    
    @media (min-width: breakpoint(xs, $grid-breakpoints)) {
        flex-shrink: 0;
        flex-grow: 0;
        display: flex;
        margin-right: $space;

        &:last-child {
            margin-right: 0;
        }
    }
    
    @media (min-width: breakpoint(md, $grid-breakpoints)) and (max-width: breakpoint(lg, $grid-breakpoints)) {
        @include cols(2);
    }

    @media (min-width: breakpoint(lg, $grid-breakpoints)) {
        @include cols(3);
    }
}

.willow-card-grid {
    @include make-grid();
}

.willow-card-grid__item {
    @include make-grid-item();
}
