&__actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;

    @media screen and (min-width: breakpoint(lg, $grid-breakpoints)) {
        flex-wrap: nowrap;
    }
}