@mixin flexWidths($items: 1) {
    flex-basis: calc(#{100/$items}% - 24px);
    width: calc(#{100/$items}% - 24px);
}

&-card {
    border-radius: $component-card-border-radius;
    box-shadow: 1px 3px 10px $component-card-box-shadow-color;
    color: $component-card-text-color;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: $space-stack-l;
    max-width: 380px;
    overflow: hidden;
    text-decoration: none;

    .willow-card-columns & {
        display: inline-block; //necessary for column break
    }

    .willow-card-grid & {
        margin-bottom: space(2);

        @media screen and (min-width: breakpoint(md, $grid-breakpoints)) {
            flex-grow: 1;
            flex-shrink: 0;
            margin-right: space(2);

            &:last-child {
                margin-right: 0;
                margin-bottom: space(2) !important; //important to beat setting of last-child margin-bottom
            }
        }

        @media screen and (min-width: breakpoint(md, $grid-breakpoints)) {
            @include flexWidths(2);
        }

        @media screen and (min-width: breakpoint(lg, $grid-breakpoints)) {
            @include flexWidths(3);
        }
    }

    @import "image";
    @import "content";
    @import "icon";
    @import "heading";
    @import "description";
    @import "actions";
    @import "action";
}

&-card[href]{
    transform: scale(1);
    transition: 0.2s transform;
    
    &:visited,
    &:hover, 
    &:active {
        color: $component-card-text-color;
    }

    &:hover {
        transform: scale(1.01);
    }

    &:active {
        transform: scale(0.99);
    }
}