&-card {
    border-radius: $willow-component-card-border-radius;
    box-shadow: 1px 3px 10px $willow-component-card-box-shadow-color;
    color: $willow-component-card-text-color;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: $willow-space-stack-l;
    max-width: 380px;
    overflow: hidden;
    text-decoration: none;

    .willow-card-grid__item & {
        flex-grow: 1;
        flex-shrink: 0;
        width: 100%;
    }

    @import "image";
    @import "content";
    @import "icon";
    @import "heading";
    @import "description";
    @import "actions";
    @import "action";
}

&-card[href]{
    transform: scale(1);
    transition: 0.2s transform;
    
    &:visited,
    &:hover, 
    &:active {
        color: $willow-component-card-text-color;
    }

    &:hover {
        transform: scale(1.01);
    }

    &:active {
        transform: scale(0.99);
    }
}
