&__content {
    background-color: $willow-component-card-content-background-color;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: $willow-space-inset-l;
    text-align: center;
}