&__icon {
    display: block;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: $willow-component-card-icon-height;
    margin: $willow-space-stack;
}