&__icon {
    background-image: url("https://cdn1.iconfinder.com/data/icons/unique-round-blue/93/globe-128.png");
    display: block;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: $component-card-icon-height;
    margin: $space-stack;
}