<nav class="willow-breadcrumbs" role="navigation" aria-label="breadcrumb">
    <h1 class="willow-breadcrumbs__heading sr-only">You are here:</h1>
    <ol class="willow-breadcrumbs__list">
        <li class="willow-breadcrumbs__item"><a class="willow-breadcrumbs__link" href="" aria-label="">Nav Item 1</a></li>
        <li class="willow-breadcrumbs__item"><a class="willow-breadcrumbs__link" href="" aria-label="">Nav Item 2</a></li>
        <li class="willow-breadcrumbs__item willow-breadcrumbs__item--active">Current Item</li>
    </ol>
</nav>