@mixin base() {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    max-width: $content-max-width;
    padding-left: space(2);
    padding-right: space(2);

    @media screen and (min-width: breakpoint(large)) {
        padding-left: 0;
        padding-right: 0;
    }
}

&-page {
    @include base;
}