$component-secondary-nav-background-color: $color-white !default;
$component-secondary-nav-border: 2px solid $color-grey !default;
$component-secondary-nav-link-color: $color-grey !default;
$component-secondary-nav-link-color-hover: $color-white !default;
$component-secondary-nav-link-color-focus: $color-grey !default;
$component-secondary-nav-link-color-visited: $color-grey !default;
$component-secondary-nav-link-color-active: $color-grey !default;
$component-secondary-nav-link-color-active-item: $color-white !default;
//Link background and text color for Hover and Active
$component-secondary-nav-link-background-color: initial !default;
$component-secondary-nav-link-background-color-hover: $color-black !default;
$component-secondary-nav-link-background-color-active: $color-grey !default;
$component-secondary-nav-link-background-color-focus: initial !default;
$component-secondary-nav-link-border-color-active: $color-black !default;

$component-secondary-nav-heading-background-color: $color-black !default;
$component-secondary-nav-heading-color: $color-white !default;
