&__heading {
    @include set-text-style($text-style-heading-4);
        
    background-color: $component-secondary-nav-heading-background-color;
    color: $component-secondary-nav-heading-color;
    padding: $space-inset;
    margin-bottom: 0;
}