@mixin base() {
    background-color: $component-secondary-nav-background-color;
    border: $component-secondary-nav-border;
    margin-bottom: space(2);
}

&-secondary-nav {
    @include base;
    
    @import "heading";
    @import "list";
    @import "item";
    @import "link";
}