@import "dependencies";

.willow-secondary-nav {
    @include compact;

    background-color: $component-secondary-nav-background-color;
    border: $component-secondary-nav-border;
    margin: $space-stack-l;

    @import "heading";
    @import "list";
    @import "item";
    @import "link";
}
