$component-skip-nav-background-color: $color-willow-grey !default;
$component-skip-nav-link-color: $color-willow-white !default;
$component-skip-nav-link-color-hover: $color-willow-white !default;
$component-skip-nav-link-color-active: $color-willow-white !default;
$component-skip-nav-link-color-visited: $color-willow-white !default;
