$component-skip-nav-background-color: $color-middle !default;
$component-skip-nav-link-color: $color-light !default;
$component-skip-nav-link-color-hover: $color-light !default;
$component-skip-nav-link-color-active: $color-light !default;
$component-skip-nav-link-color-visited: $color-light !default;
