$component-skip-nav-background-color: #555 !default;
$component-skip-nav-link-color: #fff !default;
$component-skip-nav-link-color-hover: #fff !default;
$component-skip-nav-link-color-active: #fff !default;
$component-skip-nav-link-color-visited: #fff !default;
