@import "normalize";

@at-root {
    html {
        box-sizing: border-box;
        font-size: 62.5%;
        height: 100%;
    }

    *,
    ::before,
    ::after {
        box-sizing: inherit;
    }

    :last-child {
        margin-bottom: 0 !important;
    }

    body {
        @include set-text-style($component-body-style-default);

        background-color: $component-body-background-color;
        color: $component-body-text-color;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        height: 100%;
        min-height: 100%;
        overflow-x: hidden;
        
        * {
            margin-top: 0;
        }
    }
}

h1 {
    @include set-text-style($text-style-heading-1);

    margin-bottom: space(1);
}

h2 {
    @include set-text-style($text-style-heading-2);

    margin-bottom: space(1);
}

h3 {
    @include set-text-style($text-style-heading-3);

    margin-bottom: space(1);
}

h4 {
    @include set-text-style($text-style-heading-4);

    margin-bottom: space(1);
}

h5 {
    @include set-text-style($text-style-heading-5);

    margin-bottom: space(1);
}

h6 {
    @include set-text-style($text-style-heading-6);

    margin-bottom: space(1);
}

p {
    @include set-text-style($text-style-content-1);

    margin-bottom: space(1);
}

a {
    color: $component-link-color;
    
    &:visited {
        color: $component-link-color-visited;
    }

    &:hover {
        color: $component-link-color-hover;
    }

    &:active {
        color: $component-link-color-active;
    }
}

ol,
ul {
    margin-bottom: space(1);
    margin-top: 0;
}

table {
    border: $component-border-width solid $component-table-border-color;
    border-collapse: collapse;
    display: table;
    margin-bottom: space(2);
    margin-top: space(2);
    width: 100%;
}

thead {
    background-color: $component-table-header-background-color;
    color: $component-table-header-text-color;
    display: table-header-group;
}

tbody {
    color: $component-table-body-text-color;
    display: table-row-group;
}

tfoot {
    display: table-footer-group;
}

col {
    display: table-column;
}

colgroup {
    display: table-column-group;
}

tbody {
    tr:nth-child(odd) {
        background-color: $component-table-row-background-color-odd;
    }

    tr:nth-child(even) {
        background-color: $component-table-row-background-color-even;
    }
}

tr {
    display: table-row;
}

caption {
    display: table-caption;
}

th {
    @include set-text-style($text-style-heading-4);
}

th, 
td {
    display: table-cell;
    padding-bottom: space(1);
    padding-left: space(1);   
    padding-right: space(3);
    padding-top: space(1);
    text-align: left;
}

small {
    @include set-text-style($text-style-content-3);
}

blockquote {
    border-left: 2px solid $component-blockquote-border-color;
    color: $component-blockquote-text-color;
    font-weight: $component-blockquote-font-weight;
    margin-bottom: space(2);
    margin-left: space(4);
    margin-right: space(2);
    padding-left: space(2);
}

hr {
    margin-bottom: space(1);
}

figure {
    margin-bottom: space(1);
    margin-left: space(2);
    margin-right: space(2);
}

pre {
    color: $component-body-text-color-monospace;
    font-family: $component-body-text-monospace;
    margin-bottom: space(2);
    margin-left: space(2);
    margin-right: space(2);
    margin-top: space(2);
    overflow-x: scroll;
}

code {
    color: $component-body-text-color-monospace;
    font-family: $component-body-text-monospace;    
}

form {
    margin-top: 0;
    margin-bottom: space(2);
    margin-top: space(2);
}

kbd,
samp {
    color: $component-body-text-color-monospace;
    font-family: $component-body-text-monospace;
}

mark {
    background-color: $component-highlighted-text-background-color;
    color: $component-highlighted-text-color;
}

video {
    max-width: 100%;
}

input,
textarea {
    display: block;
}

//not needed for this theme...yet
abbr {

}

b,
strong {
}

cite {

}

//deleted
del {

}

dfn {

}

i, 
em {
}

//inserted
ins {

}

//strikethrough
s {

}

sub {

}

sup {

}

time {

}