@import "normalize";
@import "default-variables";

@at-root {
    html {
        box-sizing: border-box;
        font-size: 62.5%;
        height: 100%;
    }

    *,
    ::before,
    ::after {
        box-sizing: inherit;
    }

    body {
        @include set-text-style($willow-component-body-style-default);

        background-color: $willow-component-body-background-color;
        color: $willow-component-body-text-color;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        height: 100%;
        min-height: 100%;
        overflow-x: hidden;
        
        * {
            margin-top: 0;
        }
    }
}

h1 {
    @include set-text-style($willow-text-style-heading-1);
}

h2 {
    @include set-text-style($willow-text-style-heading-2);
}

h3 {
    @include set-text-style($willow-text-style-heading-3);
}

h4 {
    @include set-text-style($willow-text-style-heading-4);
}

h5 {
    @include set-text-style($willow-text-style-heading-5);
}

h6 {
    @include set-text-style($willow-text-style-heading-6);
}

h1,
h2,
h3, 
h4, 
h5, 
h6 {
    margin: $willow-space-stack-s;
}

p {
    @include set-text-style($willow-text-style-content-1);

    margin: $willow-space-stack;
}

a {
    color: $willow-component-link-color;
    
    &:visited {
        color: $willow-component-link-color-visited;
    }

    &:hover {
        color: $willow-component-link-color-hover;
    }

    &:active {
        color: $willow-component-link-color-active;
    }
}

ol,
ul {
    margin-bottom: $willow-space;

    ol,
    ul {
        margin-bottom: 0;
    }
}

ul {
    list-style-type: $willow-list-style-type;
}

table {
    border: $willow-component-border-width solid $willow-component-table-border-color;
    border-collapse: collapse;
    display: table;
    margin: $willow-space-stack;
    width: 100%;

    // necessary since table elements need to be wrapped in a container that can scroll on x
    &:first-child {
        margin: $willow-space-stack;
    }
}

thead {
    background-color: $willow-component-table-header-background-color;
    color: $willow-component-table-header-text-color;
    display: table-header-group;
}

tbody {
    color: $willow-component-table-body-text-color;
    display: table-row-group;
}

tfoot {
    display: table-footer-group;
}

col {
    display: table-column;
}

colgroup {
    display: table-column-group;
}

tbody {
    tr:nth-child(odd) {
        background-color: $willow-component-table-row-background-color-odd;
    }

    tr:nth-child(even) {
        background-color: $willow-component-table-row-background-color-even;
    }
}

tr {
    display: table-row;
}

caption {
    display: table-caption;
}

th {
    @include set-text-style($willow-text-style-heading-4);
}

th, 
td {
    display: table-cell;
    padding: $willow-space-inset;
    text-align: left;
}

small {
    @include set-text-style($willow-text-style-content-3);
}

blockquote {
    border-left: 2px solid $willow-component-blockquote-border-color;
    color: $willow-component-blockquote-text-color;
    font-weight: $willow-component-blockquote-font-weight;
    margin-bottom: $willow-space;
    margin-left: $willow-space-l;
    margin-right: $willow-space-l;
    padding: $willow-space-inset-squish;
}

hr {
    margin-bottom: $willow-space;
}

figure {
    margin-bottom: $willow-space;
    padding: $willow-space-inset-squish-xl;
}

pre {
    color: $willow-component-body-text-color-monospace;
    font-family: $willow-component-body-text-monospace;
    margin-bottom: $willow-space;
    overflow-x: scroll;
}

code {
    color: $willow-component-body-text-color-monospace;
    font-family: $willow-component-body-text-monospace;    
    margin-bottom: $willow-space;
}

kbd,
samp {
    color: $willow-component-body-text-color-monospace;
    font-family: $willow-component-body-text-monospace;
}

mark {
    background-color: $willow-component-highlighted-text-background-color;
    color: $willow-component-highlighted-text-color;
}

video {
    max-width: 100%;
}

form {
    background-color: $willow-component-form-background-color;
    border-radius: $willow-component-border-radius;
    margin: $willow-space-stack;
    padding: $willow-component-form-padding;
}

label {
    @include set-text-style($willow-text-style-heading-5);

    display: block;
    margin: $willow-space-stack-xs;
}

legend {
    @include set-text-style($willow-text-style-heading-5);
}

fieldset {
    margin: $willow-space-stack;
}

input,
select, 
textarea {
    background-color: $willow-component-input-background-color;
    border-color: $willow-component-input-border-color;
    border-radius: $willow-component-border-radius;
    border-style: solid;
    border-width: $willow-component-input-border-width;
    margin: $willow-space-stack-s;
    padding: $willow-space-inset-s;
    width: 100%;
    
    &[disabled] {
        background-color: $willow-component-input-background-color-disabled;
        border-color: $willow-component-input-border-color-disabled;
        cursor: $willow-component-cursor-disabled;
    }

    &:invalid {
        background-color: $willow-component-input-background-color-invalid;
        border-color: $willow-component-input-border-color-invalid;
        box-shadow: none;
    }
}

input[type="range"],
input[type="file"] {
    display: block;
    width: auto;
}

input[type="range"] {
    background-color: transparent;
    border: none;
    padding: 0;
}

input[type="color"] {
    padding: $willow-space-inset-xs;
    height: $willow-component-dropdown-height;
}

input[type="checkbox"],
input[type="radio"] {
    border-width: 1px;
    box-shadow: inset 0 1px 2px $willow-component-input-box-shadow-color;
    width: auto;
}


input[type="radio"] {
    border-radius: 50%;
}

select {
    height: $willow-component-dropdown-height;
}

// 1. vertical resize cursor to show textarea only resizes vertically - not horizontally (see comment 2)
// 2. textareas should only resize vertically to prevent breaking container horizontally
// 3. prevents extra space beneath the textarea in chrome and safari - https://stackoverflow.com/questions/7144843/extra-space-under-textarea-differs-along-browsers 
textarea {
    cursor: ns-resize; // 1
    resize: vertical; // 2
    vertical-align: top; // 3
}

//not needed for this theme...yet
abbr {

}

b,
strong {
}

cite {

}

//deleted
del {

}

dfn {

}

i, 
em {
}

//inserted
ins {

}

//strikethrough
s {

}

sub {

}

sup {

}

time {

}