// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      OVERLAY
//      used by modals and dialogs... and more things in the future
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
$willow-component-overlay-background-color: rgba(#000, 0.8) !default;

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      DISABLED CURSOR
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
$willow-component-cursor-disabled: not-allowed !default; //is this helpful?

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      COMPONENT BACKGROUNDS
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
$willow-component-body-background-color: #fff !default;
$willow-component-body-background-color-secondary: #888 !default;
$willow-component-body-background-color-em: #333 !default;

$willow-component-border-color: #888 !default;
$willow-component-border-color-inverse: #fff !default;
$willow-component-border-color-secondary: #333 !default;
$willow-component-border-color-disabled: #555 !default;

$willow-component-body-text-color: #000 !default;
$willow-component-body-text-color-secondary: #333 !default;
$willow-component-body-text-color-inverse: #fff !default;
$willow-component-body-text-color-disabled: #aaa !default;

$willow-component-blockquote-text-color: $willow-component-body-text-color !default;
$willow-component-blockquote-font-weight: 600 !default;
$willow-component-blockquote-border-color: $willow-component-border-color-secondary !default;

$willow-component-link-color: #666666 !default;
$willow-component-link-color-hover: #666 !default;
$willow-component-link-color-focus: #666 !default;
$willow-component-link-color-active: #666 !default;
$willow-component-link-color-visited: #666 !default;

$willow-component-link-color-inverse: #bbb !default;
$willow-component-link-color-inverse-hover: #bbb !default;
$willow-component-link-color-inverse-focus: #bbb !default;
$willow-component-link-color-inverse-active: #bbb !default;
$willow-component-link-color-inverse-visited: #bbb !default;

$willow-component-table-header-background-color: #000 !default;
$willow-component-table-row-background-color-odd: #fff !default;
$willow-component-table-row-background-color-even: #bbb !default;
$willow-component-table-border-color: #888 !default;
$willow-component-table-body-text-color: #000 !default;
$willow-component-table-header-text-color: #fff !default;

// >>>>>>>>> Default Text Style Property Set
$willow-component-body-style-default: $willow-text-style-content-1 !default;

// >>>>>>>>> Highlighted Text 
$willow-component-highlighted-text-background-color: #333 !default;
$willow-component-highlighted-text-color: #fff !default;

// >>>>>>>>> Monospace Text
$willow-component-body-text-monospace: $willow-font-family-monospace !default;
$willow-component-body-text-color-monospace: #555 !default;

$willow-component-border-radius-small: 3px !default;
$willow-component-border-radius: 4px !default;
$willow-component-border-radius-large: 5px !default;

$willow-component-border-width: 1px !default;

$willow-content-max-width: 1170px !default;

$willow-list-style-type: disc !default;

//// FORMS ////////////////////////////////////////////////////////////////////////////////////////////////
$willow-component-form-background-color: #eee !default;
$willow-component-form-padding: $willow-space-inset !default;

$willow-component-input-border-color: #555 !default;
$willow-component-input-border-color-disabled: #555 !default;
$willow-component-input-border-color-invalid: #000 !default;
$willow-component-input-border-color-valid: #aaa !default;

$willow-component-input-border-width: 2px !default;

$willow-component-input-background-color: #fff !default;
$willow-component-input-background-color-checked: #000 !default;
$willow-component-input-background-color-disabled: transparent !default;
$willow-component-input-background-color-invalid: rgba(#000, 0.15) !default;
$willow-component-input-background-color-valid: rgba(#000, 0.15) !default;

$willow-component-input-box-shadow-color: rgba(#000, 0.4) !default;

$willow-component-dropdown-height: 45px !default;
$willow-component-input-height: 25px !default;
$willow-component-input-width: 25px !default;
