$component-banner-background-color: $color-willow-black !default;
$component-banner-text-color: $color-willow-white !default;
$component-banner-icon-height: 60px !default;
$component-banner-icon-width: 60px !default;
