$component-banner-background-color: $color-dark !default;
$component-banner-text-color: $color-light !default;
$component-banner-icon-height: 60px !default;
$component-banner-icon-width: 60px !default;
