$component-banner-background-color: $color-black !default;
$component-banner-text-color: $color-white !default;
$component-banner-icon-height: 60px !default;
$component-banner-icon-width: 60px !default;
