$component-footer-nav-text-color: $color-white !default;
$component-footer-nav-link-color: $color-white !default;
$component-footer-nav-link-color-hover: $color-grey !default;
$component-footer-nav-link-color-focus: $color-white !default;
$component-footer-nav-link-color-active: $color-grey !default;
$component-footer-nav-link-color-visited: $color-white !default;
