$component-footer-nav-text-color: $color-light !default;
$component-footer-nav-link-color: $color-light !default;
$component-footer-nav-link-color-hover: $color-middle !default;
$component-footer-nav-link-color-focus: $color-light !default;
$component-footer-nav-link-color-active: $color-middle !default;
$component-footer-nav-link-color-visited: $color-light !default;
