&__item {
    @include set-text-style($text-style-content-2);
    
    display: inline-block;
    margin-top: $space-xxs;
    margin-bottom: $space-xxs;

    &::after {
        color: $component-footer-nav-text-color;
        content: "|";
        margin-bottom: 0;
        margin-left: calc(#{$space-xxs} + 0.32em);
        margin-right: $space-xxs;
        margin-top: 0;
    }

    &:last-of-type {
        margin-right: $space-xxs;

        &::after {
            display: none;
        }
    }
}