&__item {
    @include set-text-style($text-style-content-2);

    display: inline-block;
    margin: $space-inline;

    &:last-of-type {
        &::after {
            display: none;
        }
    }

    @media screen and (min-width: breakpoint(lg, $grid-breakpoints)) {
        margin-top: 0;

        &::after {
            color: $component-footer-nav-text-color;
            content: "|";
            margin-left: $space;
            margin-right: $space;
        }
    }
}
