&__item {
    @include set-text-style($willow-text-style-content-2);
    
    display: inline-block;
    margin: $willow-space-stack;
    margin-right: $willow-space;

    &:last-of-type {
        margin-right: 0;
        
        &::after {
            display: none;
        }
    }

    @media screen and (min-width: breakpoint(lg, $grid-breakpoints)) {
        &::after {
            color: $willow-component-footer-nav-text-color;
            content: "|";
            margin-left: $willow-space;
            margin-right: $willow-space;
        }
    }
}