&__link {
    color: $component-footer-nav-link-color;

    &:visited {
        color: $component-footer-nav-link-color-visited;
    }
    
    &:hover {
        color: $component-footer-nav-link-color-hover;
    }
    
    &:active {
        color: $component-footer-nav-link-color-active;
    }
}