&__list {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    @media screen and (min-width: breakpoint(lg, $grid-breakpoints)) {
        text-align: right;
    }
}
