&__branding {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: $willow-space-l;
    margin-top: $willow-space-l;

    &:first-child {
        margin-top: $willow-space-l;
    }
}