&__branding {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    padding-bottom: space(2);
    padding-left: space(2);
    padding-right: space(1);
    padding-top: space(1);

    @media screen and (min-width: breakpoint(medium)) {
        padding-left: 0;
        padding-top: 0;
    }
}