&__content-controls {
    display: flex;
    flex-grow: 0;
    justify-content: flex-end;
    padding-bottom: space(1);
    padding-left: space(1);
    padding-right: 0;
    padding-top: space(2);

    @media screen and (min-width: breakpoint(medium)) {
        display: none;
    }
}