&__content {
    @include full-width;
    @include set-text-style($text-style-content-1);

    border-top: 2px solid $component-page-header-navigation-border-color;
    display: none;
    flex-basis: 100vw;
    flex-grow: 0;
    flex-shrink: 1;

    [data-content-open="true"] & {
        display: block;
    }

    [data-content-open="false"] & {
        display: none;
    }
    
    @media screen and (min-width: breakpoint(medium)) {
        border-top: none;        
        display: block;
        flex-basis: auto;
        margin-bottom: 0;
        margin-left: 0;
        margin-top: 0;
        margin-right: 0;

        [data-content-open="false"] & {
            display: block;
        }
    }
}