&__content-open {
    @include set-text-style($text-style-heading-4);

    color: $component-page-header-content-open-color;
    text-decoration: none;
    
    &:visited {
        color: $component-page-header-content-open-color-visited;
        text-decoration: none;
    }

    &:hover {
        color: $component-page-header-content-open-color-hover;
        text-decoration: none;
    }
    
    &:active {
        color: $component-page-header-content-open-color-active;
        text-decoration: none;
    }

    [data-content-open="true"] & {
        display: none;
    }
    
    @media screen and (min-width: breakpoint(medium)) {
        display: none;
    }
}