$willow-component-page-header-background-color: #333 !default;
$willow-component-page-header-navigation-border-color: #444 !default;
//Menu Close Text and Icon
$willow-component-page-header-content-close-color: #fff !default;
$willow-component-page-header-content-close-color-hover: #fff !default;
$willow-component-page-header-content-close-color-active: #fff !default;
$willow-component-page-header-content-close-color-visited: #fff !default;
$willow-component-page-header-content-close-color-focus: #fff !default;
//Menu Open Text and Icon
$willow-component-page-header-content-open-color: #fff !default;
$willow-component-page-header-content-open-color-hover: #fff !default;
$willow-component-page-header-content-open-color-active: #fff !default;
$willow-component-page-header-content-open-color-visited: #fff !default;
$willow-component-page-header-content-open-color-focus: #fff !default;