$component-page-header-background-color: $color-willow-grey !default;
$component-page-header-navigation-border-color: $color-willow-grey !default;
//Menu Close Text and Icon
$component-page-header-content-close-color: $color-willow-white !default;
$component-page-header-content-close-color-hover: $color-willow-white !default;
$component-page-header-content-close-color-active: $color-willow-white !default;
$component-page-header-content-close-color-visited: $color-willow-white !default;
$component-page-header-content-close-color-focus: $color-willow-white !default;
//Menu Open Text and Icon
$component-page-header-content-open-color: $color-willow-white !default;
$component-page-header-content-open-color-hover: $color-willow-white !default;
$component-page-header-content-open-color-active: $color-willow-white !default;
$component-page-header-content-open-color-visited: $color-willow-white !default;
$component-page-header-content-open-color-focus: $color-willow-white !default;
