@mixin base() {
    background-color: $component-page-header-background-color;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: space(-2);
    margin-right: space(-2);
    padding-bottom: 0;
    padding-top: space(1);

    @media screen and (min-width: breakpoint(medium)) {
        align-items: flex-end;
        padding-bottom: 0;
        padding-top: space(2);
    }
}

&-page-header {
    @include base;
    @include full-bleed;

    @import "branding";
    @import "content";
    @import "content-controls";
    @import "content-open";
    @import "content-close";
    @import "navigation";
}
