&__container {
    background-color: $component-dialog-background-color;
    border-radius: $component-dialog-border-radius;
    left: 50%;
    max-width: 575px;
    padding: $space-inset-xl;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
}
