$component-dialog-background-color: #fff !default;
$component-dialog-border-radius: $component-border-radius !default;
$component-dialog-overlay-background-color: $component-overlay-background-color !default;
