&-dialog {
    background-color: $component-dialog-overlay-background-color;
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;

    &[data-dialog-close="false"] {
        display: block;
    }

    @import "container";
    @import "heading";
    @import "content";
    @import "actions";
    @import "action";
}