$component-primary-nav-link-color: #fff !default;
$component-primary-nav-link-color-visited: #fff !default;
$component-primary-nav-link-color-hover: #fff !default;
$component-primary-nav-link-color-active: #fff !default;
$component-primary-nav-link-color-focus: #fff !default;

//Link Background for Hover and Active
$component-primary-nav-link-background-color: initial !default;
$component-primary-nav-link-background-color-visited: inherit !default;
$component-primary-nav-link-background-color-hover: #555 !default;
$component-primary-nav-link-background-color-active: #3a3a3a !default;
$component-primary-nav-link-background-color-focus: #555 !default;
