&__link {
    background-color: $willow-component-primary-nav-link-background-color;
    color: $willow-component-primary-nav-link-color;
    display: block;
    padding: $willow-space-inset-l;
    text-decoration: none;

    &:focus {
        background-color: $willow-component-primary-nav-link-background-color-focus;
        color: $willow-component-primary-nav-link-color-focus;
        outline: none;
        text-decoration: none;
    }
   
    &:visited {
        color: $willow-component-primary-nav-link-color-visited;
    }
    
    &:hover {
        background-color: $willow-component-primary-nav-link-background-color-hover;
        color: $willow-component-primary-nav-link-color-hover;
        text-decoration: none;
    }
    
    &:active {
        background-color: $willow-component-primary-nav-link-background-color-active;
        color: $willow-component-primary-nav-link-color-active;
    }

    @media screen and (min-width: breakpoint(medium)) {
        @include set-text-style($willow-text-style-heading-4);
        
        padding: $willow-space-inset-squish-l;
    }
}

&__link--active {
    background-color: $willow-component-primary-nav-link-background-color-active;
    color: $willow-component-primary-nav-link-color-active;
}