$willow-icons-folder: "../node_modules/@unumux/willow/icons" !default;

$willow-icon-menu: (
    icon: url("#{$willow-icons-folder}/menu.svg"),
    height: 24px,
    margin: 12px,
    width: 24px
) !default;

$willow-icon-menu-inverse: (
    icon: url("#{$willow-icons-folder}/menu-inverse.svg"),
    height: 24px,
    margin: 12px,
    width: 24px
) !default;

$willow-icon-menu-close: (
    icon: url("#{$willow-icons-folder}/menu-close.svg"),
    height: 24px,
    margin: 12px,
    width: 24px
) !default;

$willow-icon-menu-close-inverse: (
    icon: url("#{$willow-icons-folder}/menu-close-inverse.svg"),
    height: 24px,
    margin: 12px,
    width: 24px
) !default;

$willow-icon-close: (
    icon: url("#{$willow-icons-folder}/close.svg"),
    height: 14px,
    margin: 12px,
    width: 14px
) !default;

$willow-icon-close-inverse: (
    icon: url("#{$willow-icons-folder}/close-inverse.svg"),
    height: 14px,
    margin: 12px,
    width: 14px
) !default;

$willow-icon-info: (
    icon: url("#{$willow-icons-folder}/info.svg"),
    height: 24px,
    margin: 12px,
    width: 24px
) !default;

$willow-icon-info-inverse: (
    icon: url("#{$willow-icons-folder}/info-inverse.svg"),
    height: 24px,
    margin: 12px,
    width: 24px
) !default;

$willow-icon-success: (
    icon: url("#{$willow-icons-folder}/success.svg"),
    height: 24px,
    margin: 12px,
    width: 24px
) !default;

$willow-icon-success-inverse: (
    icon: url("#{$willow-icons-folder}/success-inverse.svg"),
    height: 24px,
    margin: 12px,
    width: 24px
) !default;

$willow-icon-warning: (
    icon: url("#{$willow-icons-folder}/warning.svg"),
    height: 24px,
    margin: 12px,
    width: 24px
) !default;

$willow-icon-warning-inverse: (
    icon: url("#{$willow-icons-folder}/warning-inverse.svg"),
    height: 24px,
    margin: 12px,
    width: 24px
) !default;

$willow-icon-error: (
    icon: url("#{$willow-icons-folder}/error.svg"),
    height: 24px,
    margin: 12px,
    width: 24px
) !default;

$willow-icon-error-inverse: (
    icon: url("#{$willow-icons-folder}/error-inverse.svg"),
    height: 24px,
    margin: 12px,
    width: 24px
) !default;
