// =============================================================================
//      TEXT STYLE PROPERTY SETS
//
//      Use with set-text-style mixin to set properties on a component or element
//      Example: @include set-text-style($willow-text-style-heading-2);
//
// =============================================================================
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      HEADING STYLES
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
$willow-text-style-heading-1: (
  family: $willow-font-family-primary,
  desktop-size: $willow-font-size-4xl,
  desktop-line-height: line-height($willow-font-size-4xl),
  mobile-size: $willow-font-size-3xl,
  mobile-line-height: line-height($willow-font-size-3xl),
  weight: 400
) !default;
  
$willow-text-style-heading-2: (
  family: $willow-font-family-primary,
  desktop-size: $willow-font-size-2xl,
  desktop-line-height: line-height($willow-font-size-2xl),
  mobile-size: $willow-font-size-xl,
  mobile-line-height: line-height($willow-font-size-xl),
  weight: 400
) !default;
  
$willow-text-style-heading-3: (
  family: $willow-font-family-secondary,
  desktop-size: $willow-font-size-xl,
  desktop-line-height: line-height($willow-font-size-xl),
  mobile-size: $willow-font-size-l,
  mobile-line-height: line-height($willow-font-size-l),
  weight: 600
) !default;

$willow-text-style-heading-4: (
  family: $willow-font-family-secondary,
  desktop-size: $willow-font-size-l,
  desktop-line-height: line-height($willow-font-size-l),
  mobile-size: $willow-font-size,
  mobile-line-height: line-height($willow-font-size),
  weight: 600
) !default;

$willow-text-style-heading-5: (
  family: $willow-font-family-secondary,
  desktop-size: $willow-font-size,
  desktop-line-height: line-height($willow-font-size),
  mobile-size: $willow-font-size,
  mobile-line-height: line-height($willow-font-size),
  weight: 600
) !default;

$willow-text-style-heading-6: (
  family: $willow-font-family-secondary,
  desktop-size: $willow-font-size-s,
  desktop-line-height: line-height($willow-font-size-s),
  mobile-size: $willow-font-size-s,
  mobile-line-height: line-height($willow-font-size-s),
  weight: 600
) !default;

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//      STANDARD CONTENT STYLES
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
$willow-text-style-content-1: (
  family: $willow-font-family-secondary,
  desktop-size: $willow-font-size,
  desktop-line-height: line-height($willow-font-size),
  mobile-size: $willow-font-size,
  mobile-line-height: line-height($willow-font-size),
  weight: 400
) !default;

$willow-text-style-content-2: (
  family: $willow-font-family-secondary,
  desktop-size: $willow-font-size-s,
  desktop-line-height: line-height($willow-font-size-s),
  mobile-size: $willow-font-size-s,
  mobile-line-height: line-height($willow-font-size-s),
  weight: 400
) !default;

$willow-text-style-content-3: (
  family: $willow-font-family-secondary,
  desktop-size: $willow-font-size-xs,
  desktop-line-height: line-height($willow-font-size-xs),
  mobile-size: $willow-font-size-xs,
  mobile-line-height: line-height($willow-font-size-xs),
  weight: 400
) !default;
