$component-modal-background-color: #fff !default;
$component-modal-border-radius: $component-border-radius !default;
$component-modal-overlay-background-color: $component-overlay-background-color !default;
