$willow-component-modal-background-color: #fff !default;
$willow-component-modal-border-radius: $willow-component-border-radius !default;
$willow-component-modal-overlay-background-color: $willow-component-overlay-background-color !default;