<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Content Container</title>
</head>
<body>
    <main class="willow-page-content" id="" role="main">
        <!-- insert components here -->
        <div class="willow-page-content__site-context">
            <!-- insert Willow-Breadcrumbs here -->
        </div>
        <div class="willow-page-content__page-context">
            <!-- insert components here-->
        </div>
        <!-- insert components here -->
    </main>
</body>
</html>