&__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding-bottom: space(1);
    padding-left: 0;
    padding-right: 0;
    padding-top: space(1);
}