<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Header</title>
</head>
<body>
    <header class="willow-page-header" role="banner">
        <div class="willow-page-header__branding"><!-- insert Willow-Logo-Link Component Here --></div>
        <div class="willow-page-header__content-controls">
            <a href="" class="willow-page-header__content-open">menu</a>
            <a href="" class="willow-page-header__content-close">close</a>
        </div>
        <div class="willow-page-header__content">
            <div class="willow-page-header__navigation"><!-- insert Willow-Primary-Nav Component Here --></div>
        </div>
    </header>
</body>
</html>

