<header class="willow-page-header" role="banner">
    <div class="willow-page-header__branding"><!-- insert Willow-Logo-Link Component Here --></div>
    <div class="willow-page-header__content-controls">
        <a class="willow-page-header__content-open" aria-label="Open Menu" href="">menu</a>
        <a class="willow-page-header__content-close" aria-label="Close Menu"href="">close</a>
    </div>
    <div class="willow-page-header__content">
        <div class="willow-page-header__navigation"><!-- insert Willow-Primary-Nav Component Here --></div>
    </div>
</header>