$willow-component-inline-alert-border-radius: $willow-component-border-radius-small !default;
//Default/Info
$willow-component-inline-alert-background-color: #aaa !default;
$willow-component-inline-alert-text-color: #000 !default;
$willow-component-inline-alert-icon: $willow-icon-info-inverse !default;
//Positive
$willow-component-inline-alert-positive-background-color: #aaa !default;
$willow-component-inline-alert-positive-text-color: #000 !default;
$willow-component-inline-alert-positive-icon: $willow-icon-success-inverse !default;
//Negative
$willow-component-inline-alert-negative-background-color: #aaa !default;
$willow-component-inline-alert-negative-text-color: #000 !default;
$willow-component-inline-alert-negative-icon: $willow-icon-error-inverse !default;
//Warning
$willow-component-inline-alert-warning-background-color: #aaa !default;
$willow-component-inline-alert-warning-icon: $willow-icon-warning-inverse !default;
$willow-component-inline-alert-warning-text-color: #000 !default;