$component-inline-alert-border-radius: $component-border-radius-small !default;
//Default/Info
$component-inline-alert-background-color: $color-willow-grey !default;
$component-inline-alert-text-color: $color-willow-black !default;
//Positive
$component-inline-alert-positive-background-color: $color-willow-green !default;
$component-inline-alert-positive-text-color: $color-willow-black !default;
//Negative
$component-inline-alert-negative-background-color: $color-willow-red !default;
$component-inline-alert-negative-text-color: $color-willow-black !default;
//Warning
$component-inline-alert-warning-background-color: $color-willow-yellow !default;
$component-inline-alert-warning-text-color: $color-willow-black !default;
