@import "default-variables";

&-alert {
    background-color: $willow-component-inline-alert-background-color;
    border-radius: $willow-component-inline-alert-border-radius;
    color: $willow-component-inline-alert-text-color;
    margin: $willow-space-stack;
    padding: $willow-space-inset-l;
    padding-left: $willow-space-xxl;
    position: relative;

    &::before {
        @include icon($willow-component-inline-alert-icon);

        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        left: $willow-space-l;
        margin-top: $willow-space-xs; 
        position: absolute;
    }

    @import "heading";
    @import "content";
}

&-alert--positive {
    background-color: $willow-component-inline-alert-positive-background-color;
    color: $willow-component-inline-alert-positive-text-color;

    &::before {
        @include icon($willow-component-inline-alert-positive-icon);
    }
}

&-alert--warning {
    background-color: $willow-component-inline-alert-warning-background-color;
    color: $willow-component-inline-alert-warning-text-color;

    &::before {
        @include icon($willow-component-inline-alert-warning-icon);
    }
}

&-alert--negative {
    background-color: $willow-component-inline-alert-negative-background-color;
    color: $willow-component-inline-alert-negative-text-color;

    &::before {
        @include icon($willow-component-inline-alert-negative-icon);
    }
}