@import "variables";

&-button,
&-button[href] {
    @include set-text-style($text-style-heading-4);

    background-color: $component-button-background-color;
    border: $component-button-border;
    border-radius: $component-button-border-radius;
    color: $component-button-text-color;
    cursor: pointer;
    display: block;
    margin: $space-stack;
    padding: $space-button-squish;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.15s all;
    width: 100%;

    &:focus {
        background-color: $component-button-background-color-focus;
        color: $component-button-text-color-focus;
    }

    &:hover {
        background-color: $component-button-background-color-hover;
        color: $component-button-text-color-hover;
    }

    &:active {
        background-color: $component-button-background-color-active;
        color: $component-button-text-color-active;
    }

    &[disabled],
    &[data-disabled="true"] {
        background-color: $component-button-background-color-disabled;
        border-color: $component-button-border-disabled;
        color: $component-button-text-color-disabled;
        cursor: $component-cursor-disabled;
    }
}

&-button--primary,
&-button--primary[href] {
    background-color: $component-button-primary-background-color;
    border: $component-button-primary-border;
    color: $component-button-primary-text-color;

    &:focus {
        background-color: $component-button-primary-background-color-focus;
        color: $component-button-primary-text-color-focus;
    }

    &:hover {
        background-color: $component-button-primary-background-color-hover;
        color: $component-button-primary-text-color-hover;
    }

    &:active {
        background-color: $component-button-primary-background-color-active;
        color: $component-button-primary-text-color-active;
    }

    &[disabled] {
        background-color: $component-button-primary-background-color-disabled;
        border-color: $component-button-primary-border-disabled;            
        color: $component-button-primary-text-color-disabled;
    }
}

&-button--positive,
&-button--positive[href] {                
    background-color: $component-button-positive-background-color;
    border: $component-button-positive-border;
    color: $component-button-positive-text-color;

    &:focus {
        background-color: $component-button-positive-background-color-focus;
        color: $component-button-positive-text-color-focus;
    }

    &:hover {
        background-color: $component-button-positive-background-color-hover;
        color: $component-button-positive-text-color-hover;
    }

    &:active {
        background-color: $component-button-positive-background-color-active;
        color: $component-button-positive-text-color-active;
    }

    &[disabled] {
        background-color: $component-button-positive-background-color-disabled;
        border-color: $component-button-positive-border-disabled; 
        color: $component-button-positive-text-color-disabled;
    }
}

&-button--negative,
&-button--negative[href] {            
    background-color: $component-button-negative-background-color;
    border: $component-button-negative-border;
    color: $component-button-negative-text-color;

    &:focus {
        background-color: $component-button-negative-background-color-focus;
        color: $component-button-negative-text-color-focus;
    }
    
    &:hover {
        background-color: $component-button-negative-background-color-hover;
        color: $component-button-negative-text-color-hover;
    }

    &:active {
        background-color: $component-button-negative-background-color-active;
        color: $component-button-negative-text-color-active;
    }

    &[disabled] {
        background-color: $component-button-negative-background-color-disabled;
        border-color: $component-button-negative-border-disabled; 
        color: $component-button-negative-text-color-disabled;
    }
}


&-button--inline,
&-button--inline[href] {
    display: inline-block;
    width: auto;
}

&-button--cta,
&-button--cta[href] {
    background-color: $component-button-primary-background-color;
    border: $component-button-primary-border;
    color: $component-button-primary-text-color;
    padding: $space-inset-squish-l;    

    &:focus {
        background-color: $component-button-primary-background-color-focus;
        color: $component-button-primary-text-color-focus;
    }

    &:hover {
        background-color: $component-button-primary-background-color-hover;
        color: $component-button-primary-text-color-hover;
    }

    &:active {
        background-color: $component-button-primary-background-color-active;
        color: $component-button-primary-text-color-active;
    }

    &[disabled] {
        background-color: $component-button-primary-background-color-disabled;
        border-color: $component-button-primary-border-disabled;            
        color: $component-button-primary-text-color-disabled;
    }
}

&-button--ghost,
&-button--ghost[href] {
    background-color: $component-button-ghost-background-color;
    border: $component-button-ghost-border;
    color: $component-button-ghost-text-color;
    
    &:focus {
        background-color: $component-button-ghost-background-color-focus;
        color: $component-button-ghost-text-color-focus;
    }
    
    &:hover {
        background-color: $component-button-ghost-background-color-hover;
        border: $component-button-ghost-border-hover;
        color: $component-button-ghost-text-color-hover;
    }
    
    &:active {
        background-color: $component-button-ghost-background-color-active;
        border: $component-button-ghost-border-active;
        color: $component-button-ghost-text-color-active;
    }

    &[disabled],
    &[data-disabled="true"] {
        background-color: $component-button-ghost-background-color-disabled;
        border-color: $component-button-ghost-border-disabled;
        color: $component-button-ghost-text-color-disabled;        
    }
}

&-button--ghost-secondary,
&-button--ghost-secondary[href] {
    background-color: $component-button-ghost-secondary-background-color;
    border: $component-button-ghost-secondary-border;
    color: $component-button-ghost-secondary-text-color;

    &:focus {
        background-color: $component-button-ghost-secondary-background-color-focus;
        color: $component-button-ghost-secondary-text-color-focus;
    }

    &:hover {
        background-color: $component-button-ghost-secondary-background-color-hover;
        color: $component-button-ghost-secondary-text-color-hover;
    }

    &:active {
        background-color: $component-button-ghost-secondary-background-color-active;
        color: $component-button-ghost-secondary-text-color-active;
    }

    &[disabled],
    &[data-disabled="true"] {
        background-color: $component-button-ghost-background-color-disabled;
        border-color: $component-button-ghost-border-disabled;
        color: $component-button-ghost-text-color-disabled;        
    }
}