@import "default-variables";
@import "variable-maps";

&-button {
    @include set-text-style($willow-text-style-heading-4);
    @include set-button-style($willow-neutral, "default");

    border-radius: $willow-component-button-border-radius;
    cursor: pointer;
    display: block;
    margin: $willow-space-stack;
    padding: $willow-space-inset-squish;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.15s all;
    width: 100%;

    &:focus {
        @include set-button-style($willow-neutral, "focus");
    }

    &:visited {
        @include set-button-style($willow-neutral, "visited");
    }

    &:hover {
        @include set-button-style($willow-neutral, "hover");
    }

    &:active {
        @include set-button-style($willow-neutral, "active");
    }

    &[disabled],
    &[data-disabled="true"] {
        @include set-button-style($willow-neutral, "disabled");
        cursor: $willow-component-cursor-disabled;        
    }
}

&-button--primary {
    @include set-button-style($willow-primary, "default");

    &:focus {
        @include set-button-style($willow-primary, "focus");
    }

    &:visited {
        @include set-button-style($willow-primary, "visited");
    }

    &:hover {
        @include set-button-style($willow-primary, "hover");
    }

    &:active {
        @include set-button-style($willow-primary, "active");
    }

    &[disabled],
    &[data-disabled="true"] {
        @include set-button-style($willow-primary, "disabled");
    }
}

&-button--negative {
    @include set-button-style($willow-negative, "default");

    &:focus {
        @include set-button-style($willow-negative, "focus");
    }

    &:visited {
        @include set-button-style($willow-negative, "visited");
    }

    &:hover {
        @include set-button-style($willow-negative, "hover");
    }

    &:active {
        @include set-button-style($willow-negative, "active");
    }

    &[disabled],
    &[data-disabled="true"] {
        @include set-button-style($willow-negative, "disabled");
    }
}

&-button--positive {
    @include set-button-style($willow-positive, "default");

    &:focus {
        @include set-button-style($willow-positive, "focus");
    }

    &:visited {
        @include set-button-style($willow-positive, "visited");
    }

    &:hover {
        @include set-button-style($willow-positive, "hover");
    }

    &:active {
        @include set-button-style($willow-positive, "active");
    }

    &[disabled],
    &[data-disabled="true"] {
        @include set-button-style($willow-positive, "disabled");
    }
}

&-button--ghost {
    @include set-button-style($willow-ghost, "default");

    &:focus {
        @include set-button-style($willow-ghost, "focus");
    }

    &:visited {
        @include set-button-style($willow-ghost, "visited");
    }

    &:hover {
        @include set-button-style($willow-ghost, "hover");
    }

    &:active {
        @include set-button-style($willow-ghost, "active");
    }

    &[disabled],
    &[data-disabled="true"] {
        @include set-button-style($willow-ghost, "disabled");
    }
}

&-button--ghost-inverse {
    @include set-button-style($willow-ghost-inverse, "default");

    &:focus {
        @include set-button-style($willow-ghost-inverse, "focus");
    }

    &:visited {
        @include set-button-style($willow-ghost-inverse, "visited");
    }

    &:hover {
        @include set-button-style($willow-ghost-inverse, "hover");
    }

    &:active {
        @include set-button-style($willow-ghost-inverse, "active");
    }

    &[disabled],
    &[data-disabled="true"] {
        @include set-button-style($willow-ghost-inverse, "disabled");
    }
}

&-button--cta {
    @include set-button-style($willow-cta, "default");
    padding: $willow-space-inset-squish-l;

    &:focus {
        @include set-button-style($willow-cta, "focus");
    }

    &:visited {
        @include set-button-style($willow-cta, "visited");
    }

    &:hover {
        @include set-button-style($willow-cta, "hover");
    }

    &:active {
        @include set-button-style($willow-cta, "active");
    }

    &[disabled],
    &[data-disabled="true"] {
        @include set-button-style($willow-cta, "disabled");
    }
}

&-button--inline {
    display: inline-block;
    width: auto;
}
