$component-button-border-radius: 4px !default;
$component-button-border-color: transparent !default;

// =============================================================================
//      NEUTRAL BUTTONS
// =============================================================================
// Backgrounds
$component-button-background-color: $color-middle !default;
$component-button-background-color-visited: $color-middle !default;
$component-button-background-color-hover: $color-middle !default;
$component-button-background-color-active: $color-middle !default;
$component-button-background-color-focus: $color-middle !default;
$component-button-background-color-disabled: $color-middle !default;

// Text
$component-button-text-color: $color-light !default;
$component-button-text-color-visited: $color-light !default;
$component-button-text-color-hover: $color-light !default;
$component-button-text-color-active: $color-light !default;
$component-button-text-color-focus: $color-light !default;
$component-button-text-color-disabled: $color-dark !default;

// Border
$component-button-border: 1px solid transparent !default;
$component-button-border-visited: 1px solid transparent !default;
$component-button-border-hover: 1px solid transparent !default;
$component-button-border-active: 1px solid transparent !default;
$component-button-border-focus: 1px solid transparent !default;
$component-button-border-disabled: transparent !default;

// =============================================================================
//      PRIMARY BUTTONS
// =============================================================================
// Backgrounds
$component-button-primary-background-color: $color-middle !default;
$component-button-primary-background-color-visited: $color-middle !default;
$component-button-primary-background-color-hover: $color-middle !default;
$component-button-primary-background-color-active: $color-middle !default;
$component-button-primary-background-color-focus: $color-middle !default;
$component-button-primary-background-color-disabled: $color-middle !default;

// Text
$component-button-primary-text-color: $color-light !default;
$component-button-primary-text-color-visited: $color-light !default;
$component-button-primary-text-color-hover: $color-light !default;
$component-button-primary-text-color-active: $color-light !default;
$component-button-primary-text-color-focus: $color-light !default;
$component-button-primary-text-color-disabled: $color-middle !default;

// Borders
$component-button-primary-border: 1px solid transparent !default;
$component-button-primary-border-visited: 1px solid transparent !default;
$component-button-primary-border-hover: 1px solid transparent !default;
$component-button-primary-border-active: 1px solid transparent !default;
$component-button-primary-border-focus: 1px solid transparent !default;
$component-button-primary-border-disabled: transparent !default;

// =============================================================================
//      POSITIVE BUTTONS
// =============================================================================
// Backgrounds
$component-button-positive-background-color: $color-positive !default;
$component-button-positive-background-color-visited: $color-positive !default;
$component-button-positive-background-color-hover: $color-positive !default;
$component-button-positive-background-color-active: $color-positive !default;
$component-button-positive-background-color-focus: $color-positive !default;
$component-button-positive-background-color-disabled: $color-middle !default;

// Text
$component-button-positive-text-color: $color-light !default;
$component-button-positive-text-color-visited: $color-light !default;
$component-button-positive-text-color-hover: $color-light !default;
$component-button-positive-text-color-active: $color-light !default;
$component-button-positive-text-color-focus: $color-light !default;
$component-button-positive-text-color-disabled: $color-middle !default;

// Borders
$component-button-positive-border: 1px solid transparent !default;
$component-button-positive-border-visited: 1px solid transparent !default;
$component-button-positive-border-hover: 1px solid transparent !default;
$component-button-positive-border-active: 1px solid transparent !default;
$component-button-positive-border-focus: 1px solid transparent !default;
$component-button-positive-border-disabled: transparent !default;

// =============================================================================
//      NEGATIVE BUTTONS
// =============================================================================
// Backgrounds
$component-button-negative-background-color: $color-negative !default;
$component-button-negative-background-color-visited: $color-negative !default;
$component-button-negative-background-color-hover: $color-negative !default;
$component-button-negative-background-color-active: $color-negative !default;
$component-button-negative-background-color-focus: $color-negative !default;
$component-button-negative-background-color-disabled: $color-middle !default;

// Text
$component-button-negative-text-color: $color-light !default;
$component-button-negative-text-color-visited: $color-light !default;
$component-button-negative-text-color-hover: $color-light !default;
$component-button-negative-text-color-active: $color-light !default;
$component-button-negative-text-color-focus: $color-light !default;
$component-button-negative-text-color-disabled: $color-middle !default;

// Borders
$component-button-negative-border: 1px solid transparent !default;
$component-button-negative-border-visited: 1px solid transparent !default;
$component-button-negative-border-hover: 1px solid transparent !default;
$component-button-negative-border-active: 1px solid transparent !default;
$component-button-negative-border-focus: 1px solid transparent !default;
$component-button-negative-border-disabled: transparent !default;

// =============================================================================
//      GHOST BUTTONS
// =============================================================================
// Backgrounds
$component-button-ghost-background-color: transparent !default;
$component-button-ghost-background-color-visited: $color-light !default;
$component-button-ghost-background-color-hover: $color-light !default;
$component-button-ghost-background-color-active: $color-light !default;
$component-button-ghost-background-color-focus: $color-light !default;
$component-button-ghost-background-color-disabled: $color-light !default;

// Text
$component-button-ghost-text-color: $color-light !default;
$component-button-ghost-text-color-visited: $color-middle !default;
$component-button-ghost-text-color-hover: $color-middle !default;
$component-button-ghost-text-color-active: $color-dark !default;
$component-button-ghost-text-color-focus: $color-middle !default;
$component-button-ghost-text-color-disabled: $color-middle !default;

// Borders
$component-button-ghost-border: 2px solid $color-light !default;
$component-button-ghost-border-visited: 2px solid transparent !default;
$component-button-ghost-border-hover: 2px solid transparent !default;
$component-button-ghost-border-active: 2px solid transparent !default;
$component-button-ghost-border-focus: 2px solid transparent !default;
$component-button-ghost-border-disabled: transparent !default;

// =============================================================================
//      INVERSE GHOST BUTTONS
// =============================================================================
// Backgrounds
$component-button-ghost-inverse-background-color: transparent !default;
$component-button-ghost-inverse-background-color-visited: rgba(0, 0, 0, 0.7) !default;
$component-button-ghost-inverse-background-color-hover: rgba(0, 0, 0, 0.7) !default;
$component-button-ghost-inverse-background-color-active: $color-dark !default;
$component-button-ghost-inverse-background-color-focus: rgba(0, 0, 0, 0.3) !default;
$component-button-ghost-inverse-background-color-disabled: $color-middle !default;

// Text
$component-button-ghost-inverse-text-color: $color-dark !default;
$component-button-ghost-inverse-text-color-visited: $color-light !default;
$component-button-ghost-inverse-text-color-hover: $color-light !default;
$component-button-ghost-inverse-text-color-active: $color-light !default;
$component-button-ghost-inverse-text-color-focus: $color-light !default;
$component-button-ghost-inverse-text-color-disabled: $color-middle !default;

// Borders
$component-button-ghost-inverse-border: 2px solid $color-dark !default;
$component-button-ghost-inverse-border-visited: 2px solid transparent !default;
$component-button-ghost-inverse-border-hover: 2px solid transparent !default;
$component-button-ghost-inverse-border-active: 2px solid transparent !default;
$component-button-ghost-inverse-border-focus: 2px solid transparent !default;
$component-button-ghost-inverse-border-disabled: transparent !default;
