&-button--ghost,
&-button--ghost[href] {
    background-color: $component-button-ghost-background-color;
    border: $component-button-ghost-border;
    color: $component-button-ghost-text-color;

    &:focus {
        background-color: $component-button-ghost-background-color-focus;
        color: $component-button-ghost-text-color-focus;
    }

    &:hover {
        background-color: $component-button-ghost-background-color-hover;
        color: $component-button-ghost-text-color-hover;
    }

    &:active {
        background-color: $component-button-ghost-background-color-active;
        color: $component-button-ghost-text-color-active;
    }
}

&-button--ghost-inverse,
&-button--ghost-inverse[href] {
    background-color: $component-button-ghost-inverse-background-color;
    border: $component-button-ghost-inverse-border;
    color: $component-button-ghost-inverse-text-color;

    &:focus {
        background-color: $component-button-ghost-inverse-background-color-focus;
        color: $component-button-ghost-inverse-text-color-focus;
    }

    &:hover {
        background-color: $component-button-ghost-inverse-background-color-hover;
        color: $component-button-ghost-inverse-text-color-hover;
    }

    &:active {
        background-color: $component-button-ghost-inverse-background-color-active;
        color: $component-button-ghost-inverse-text-color-active;
    }
}