// =============================================================================
//      BUTTON MAPS
// =============================================================================
$neutral: (
    bg: $component-button-background-color,
    bg-visited: $component-button-background-color-visited,
    bg-hover: $component-button-background-color-hover,
    bg-active: $component-button-background-color-active,
    bg-focus: $component-button-background-color-focus,
    bg-disabled: $component-button-background-color-disabled,
    color: $component-button-text-color,
    color-visited: $component-button-text-color-visited,
    color-hover: $component-button-text-color-hover,
    color-active: $component-button-text-color-active,
    color-focus: $component-button-text-color-focus,
    color-disabled: $component-button-text-color-disabled,
    border: $component-button-border,
    border-visited: $component-button-border-visited,
    border-hover: $component-button-border-hover,
    border-active: $component-button-border-active,
    border-focus: $component-button-border-focus,
    border-disabled: $component-button-border-disabled
);

$primary: (
    bg: $component-button-primary-background-color,
    bg-visited: $component-button-primary-background-color-visited,
    bg-hover: $component-button-primary-background-color-hover,
    bg-active: $component-button-primary-background-color-active,
    bg-focus: $component-button-primary-background-color-focus,
    bg-disabled: $component-button-primary-background-color-disabled,
    color: $component-button-primary-text-color,
    color-visited: $component-button-primary-text-color-visited,
    color-hover: $component-button-primary-text-color-hover,
    color-active: $component-button-primary-text-color-active,
    color-focus: $component-button-primary-text-color-focus,
    color-disabled: $component-button-primary-text-color-disabled,
    border: $component-button-primary-border,
    border-visited: $component-button-primary-border-visited,
    border-hover: $component-button-primary-border-hover,
    border-active: $component-button-primary-border-active,
    border-focus: $component-button-primary-border-focus,
    border-disabled: $component-button-primary-border-disabled
);

$negative: (
    bg: $component-button-negative-background-color,
    bg-visited: $component-button-negative-background-color-visited,
    bg-hover: $component-button-negative-background-color-hover,
    bg-active: $component-button-negative-background-color-active,
    bg-focus: $component-button-negative-background-color-focus,
    bg-disabled: $component-button-negative-background-color-disabled,
    color: $component-button-negative-text-color,
    color-visited: $component-button-negative-text-color-visited,
    color-hover: $component-button-negative-text-color-hover,
    color-active: $component-button-negative-text-color-active,
    color-focus: $component-button-negative-text-color-focus,
    color-disabled: $component-button-negative-text-color-disabled,
    border: $component-button-negative-border,
    border-visited: $component-button-negative-border-visited,
    border-hover: $component-button-negative-border-hover,
    border-active: $component-button-negative-border-active,
    border-focus: $component-button-negative-border-focus,
    border-disabled: $component-button-negative-border-disabled
);

$positive: (
    bg: $component-button-positive-background-color,
    bg-visited: $component-button-positive-background-color-visited,
    bg-hover: $component-button-positive-background-color-hover,
    bg-active: $component-button-positive-background-color-active,
    bg-focus: $component-button-positive-background-color-focus,
    bg-disabled: $component-button-positive-background-color-disabled,
    color: $component-button-positive-text-color,
    color-visited: $component-button-positive-text-color-visited,
    color-hover: $component-button-positive-text-color-hover,
    color-active: $component-button-positive-text-color-active,
    color-focus: $component-button-positive-text-color-focus,
    color-disabled: $component-button-positive-text-color-disabled,
    border: $component-button-positive-border,
    border-visited: $component-button-positive-border-visited,
    border-hover: $component-button-positive-border-hover,
    border-active: $component-button-positive-border-active,
    border-focus: $component-button-positive-border-focus,
    border-disabled: $component-button-positive-border-disabled
);

$ghost: (
    bg: $component-button-ghost-background-color,
    bg-visited: $component-button-ghost-background-color-visited,
    bg-hover: $component-button-ghost-background-color-hover,
    bg-active: $component-button-ghost-background-color-active,
    bg-focus: $component-button-ghost-background-color-focus,
    bg-disabled: $component-button-ghost-background-color-disabled,
    color: $component-button-ghost-text-color,
    color-visited: $component-button-ghost-text-color-visited,
    color-focus: $component-button-ghost-text-color-focus,
    color-hover: $component-button-ghost-text-color-hover,
    color-active: $component-button-ghost-text-color-active,
    color-disabled: $component-button-ghost-text-color-disabled,
    border: $component-button-ghost-border,
    border-visited: $component-button-ghost-border-visited,
    border-focus: $component-button-ghost-border-focus,
    border-hover: $component-button-ghost-border-hover,
    border-active: $component-button-ghost-border-active,
    border-disabled: $component-button-ghost-border-disabled
);

$ghost-inverse: (
    bg: $component-button-ghost-inverse-background-color,
    bg-visited: $component-button-ghost-inverse-background-color-visited,
    bg-hover: $component-button-ghost-inverse-background-color-hover,
    bg-active: $component-button-ghost-inverse-background-color-active,
    bg-focus: $component-button-ghost-inverse-background-color-focus,
    bg-disabled: $component-button-ghost-inverse-background-color-disabled,
    color: $component-button-ghost-inverse-text-color,
    color-visited: $component-button-ghost-inverse-text-color-visited,
    color-focus: $component-button-ghost-inverse-text-color-focus,
    color-hover: $component-button-ghost-inverse-text-color-hover,
    color-active: $component-button-ghost-inverse-text-color-active,
    color-disabled: $component-button-ghost-inverse-text-color-disabled,
    border: $component-button-ghost-inverse-border,
    border-visited: $component-button-ghost-inverse-border-visited,
    border-focus: $component-button-ghost-inverse-border-focus,
    border-hover: $component-button-ghost-inverse-border-hover,
    border-active: $component-button-ghost-inverse-border-active,
    border-disabled: $component-button-ghost-inverse-border-disabled
);

$cta: (
    bg: $component-button-primary-background-color,
    bg-visited: $component-button-primary-background-color-visited,
    bg-hover: $component-button-primary-background-color-hover,
    bg-active: $component-button-primary-background-color-active,
    bg-focus: $component-button-primary-background-color-focus,
    bg-disabled: $component-button-primary-background-color-disabled,
    color: $component-button-primary-text-color,
    color-visited: $component-button-primary-text-color-visited,
    color-hover: $component-button-primary-text-color-hover,
    color-active: $component-button-primary-text-color-active,
    color-focus: $component-button-primary-text-color-focus,
    color-disabled: $component-button-primary-text-color-disabled,
    border: $component-button-primary-border,
    border-visited: $component-button-primary-border-visited,
    border-hover: $component-button-primary-border-hover,
    border-active: $component-button-primary-border-active,
    border-focus: $component-button-primary-border-focus,
    border-disabled: $component-button-primary-border-disabled
);
