////////////////////////////////////////////////////////////////
// CARD SPECIFIC VARIABLES
////////////////////////////////////////////////////////////////
$component-card-columns-count-s: 1 !default;
$component-card-columns-count-m: 2 !default;
$component-card-columns-count-l: 3 !default;

$component-card-border-radius: 8px !default;
$component-card-box-shadow-color: rgba(#000, 0.1) !default;
$component-card-content-background-color: #fff !default;
$component-card-icon-height: 60px !default;
$component-card-image-height: 250px !default;
$component-card-image-height-sm: 150px !default;
$component-card-text-color: #000 !default;